<template>
    <div>
        <p>A 2d puzzle game I'm currently working on. It should be out in the next couple of weeks.</p>
    </div>
</template>


<script>
import Vue from 'vue'

export default {
  
}
</script>

<style>

</style>
