<template>
    <div>
        <p>A UI for the puzzle game I'm working on. I'm planning to release it as an asset.</p>
    </div>
</template>


<script>
import Vue from 'vue'

export default {
  
}
</script>

<style>

</style>
