<template>
    <div>
        <p>This is my portfolio site, most of my games and assets are either in progress or was made a long time ago. I'll keep adding my latest games and assets. I'll add my anything else to the Archive.</p>
        <p>Please follow me on <a href="https://www.linkedin.com/in/norbert-notin-16a68083/" target="_blank">LinkedIn</a> and check out my public <a href="https://bitbucket.org/nono1013/" target="_blank">Bitbucket repo</a>, where I'll add my public projects.</p>
    </div>
</template>


<script>
import Vue from 'vue'

export default {

}
</script>

<style>

</style>
