<template>
    <div>
        <p>The first HTML5 game I created, I used free assets and never intended to sell it, but I really like the levels.</p>
        <p>You can find it on <a href="https://www.amazon.com/dp/B00QKFF3F6/" target="_blank">Amazon</a>.</p>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
    
}
</script>

<style>

</style>
