<template>
    <div>
        <p>Another small HTML5 puzzle I made.</p>
        <p>You can find it on <a href="https://www.amazon.com/dp/B00RBLGZ2S/" target="_blank">Amazon</a>.</p>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
    
}
</script>

<style>

</style>
