<template>
    <div>
        <p>The last Flash game I worked on, a simple puzzle platformer.</p>
        <p>You can find it on <a href="https://www.kongregate.com/games/Zsoca64/the-lonely-king" target="_blank">Kongregate</a>.</p>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
    
}
</script>

<style>

</style>
