<template>
    <div>
        <p>Old games made by us under the name of ParadoxonGames.</p>
        <p>You can find them on <a href="https://www.kongregate.com/games/Zsoca64/" target="_blank">Kongregate</a>.</p>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
    
}
</script>

<style>

</style>
