<template>
    <div>
        <p>A simple set-up for puzzle games, which you can use to create them faster.</p>
    </div>
</template>


<script>
import Vue from 'vue'

export default {
  
}
</script>

<style>

</style>
