<template>
    <div>
        <p>I needed a tween manager, which had a delay and an unscaled time option, so I created this asset. It still needs improvement, so it's not finished yet.</p>
        <p>You can find it on <a href="https://bitbucket.org/nono1013/tweenmanager/" target="_blank">Bitbucket</a> and I created a simple <a href="/tween-preview" target="_blank">demo scene</a> as well.</p>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
    
}
</script>

<style>

</style>
