<template>
    
    <div class="main">

      <b-carousel
                id="car"
                controls
                indicators
                :interval="0"
      >
          <b-carousel-slide img-blank v-for="index in Math.floor(Math.max(0, (Items.length - 1)) / MaxObjectsOnPage) + 1" :key="index">
            <div class="iconsParent">
            <div class="icons">
              <div v-for="item in Items.slice((index - 1) * MaxObjectsOnPage, (index - 1) * MaxObjectsOnPage + MaxObjectsOnPage)" :key="item.id" class="my-col">
                <div class="icon pointer" v-on:click=item.function()>
                  <Icon v-bind:icons=item.comps
                  :type=item.type
                  :scale-x=item.scaleX
                  :scale-y=item.scaleY
                  :rotate-x=item.rotateX
                  :rotate-y=item.rotateY
                  :translate-x=item.translateX
                  :translate-y=item.translateY>
                    <template slot-scope="slotProps">
                      <div :is="slotProps.icon"></div>
                    </template>
                  </Icon>
                </div>
              </div>
              <div v-for="blankIndex in MaxObjectsOnPage - Items.slice((index - 1) * MaxObjectsOnPage, (index - 1) * MaxObjectsOnPage + MaxObjectsOnPage).length" :key="blankIndex" class="my-col">
                  <div class="iconPlaceholder"></div>
              </div>
            </div>
            </div>
          </b-carousel-slide>
      </b-carousel>

    </div>

</template>

<script>
import Icon from '../Icon.vue'
import Page from '../Page.vue'
import Vue from 'vue'

import DocBg from "../../assets/doc_bg.svg"
import DocFg from "../../assets/doc_fg.svg"

import Exit from "../../assets/exit.svg"

export default {
  name: 'games',
  data: function() {
	  return {
      maxObjectsOnPage: 1,
	    showGames: false,
      showAssets: false,
	  }
  },
  components: {
    Icon,
    Page,

    Exit,

    DocBg, DocFg
  },
  computed: {
    MaxObjectsOnPage: function () {
      return this.maxObjectsOnPage;
    },
    Items: function () {
      return [
        { comps: ['DocBg', 'DocFg'],
                 function: () => { this.$emit('test'); },
                 type: "circle", scaleX: [0.99, 1.02, 1.02], scaleY: [0.99, 1.02, 1.02], rotateX: [0, 0, 0], rotateY: [0, 0, 0], translateX: [0, 0, 0], translateY: [0, 0, 0] },
        { comps: ['DocBg', 'DocFg'],
                 function: () => { this.$emit('test'); },
                 type: "circle", scaleX: [0.99, 1.02, 1.02], scaleY: [0.99, 1.02, 1.02], rotateX: [0, 0, 0], rotateY: [0, 0, 0], translateX: [0, 0, 0], translateY: [0, 0, 0] },
        { comps: ['DocBg', 'DocFg'],
                 function: () => { this.$emit('test'); },
                 type: "circle", scaleX: [0.99, 1.02, 1.02], scaleY: [0.99, 1.02, 1.02], rotateX: [0, 0, 0], rotateY: [0, 0, 0], translateX: [0, 0, 0], translateY: [0, 0, 0] },
        { comps: ['Exit'],
                 function: () => { this.exit(); },
                 type: "circle", scaleX: [0.97], scaleY: [0.97], rotateX: [0], rotateY: [0], translateX: [0], translateY: [0]
        }
        ]
    }
  },
  methods: {
    resize: function () {
      let columns = 0;
      let rows = 0;
      let w = window.innerWidth;
      let h = window.innerHeight;

      let paddingD = 30;
      let paddingLR = 40;
      let unitW = 120;
      let unitH = 120;

      columns = Math.floor((w - paddingLR * 2) / unitW);
      columns = columns < 1 ? 1 : columns > 3 ? 3 : columns; // Math.clamp(columns, 1, 3)

      rows = Math.floor((h - paddingD) / unitH);
      rows = rows < 1 ? 1 : rows;

      //console.log(rows + " " + columns + " " + rows * columns);

      this.maxObjectsOnPage = rows * columns;
    },
    exit: function () {
      this.$emit('exit')
    }
  },
  mounted () {
    var self = this;
    self.resize();

    window.onresize = function(e) {
      self.resize();
    }
  }
}
</script>

<style>

</style>
