<template>
    
    <div class="main">

      <b-carousel
                id="car"
                controls
                indicators
                :interval="0"
      >
          <b-carousel-slide img-blank v-for="index in Math.floor(Math.max(0, (Items.length - 1)) / MaxObjectsOnPage) + 1" :key="index">
            <div class="iconsParent">
            <div class="icons">
              <div v-for="item in Items.slice((index - 1) * MaxObjectsOnPage, (index - 1) * MaxObjectsOnPage + MaxObjectsOnPage)" :key="item.id" class="my-col">
                <div class="icon pointer" v-on:click=item.function()>
                  <Icon v-bind:icons=item.comps
                  :type=item.type
                  :scale-x=item.scaleX
                  :scale-y=item.scaleY
                  :rotate-x=item.rotateX
                  :rotate-y=item.rotateY
                  :translate-x=item.translateX
                  :translate-y=item.translateY>
                    <template slot-scope="slotProps">
                      <div :is="slotProps.icon"></div>
                    </template>
                  </Icon>
                </div>
              </div>
              <div v-for="blankIndex in MaxObjectsOnPage - Items.slice((index - 1) * MaxObjectsOnPage, (index - 1) * MaxObjectsOnPage + MaxObjectsOnPage).length" :key="blankIndex" class="my-col">
                  <div class="iconPlaceholder"></div>
              </div>
            </div>
            </div>
          </b-carousel-slide>
      </b-carousel>

    </div>

</template>

<script>
import Icon from '../Icon.vue'
import Page from '../Page.vue'
import Vue from 'vue'

import FolderBg from "../../assets/folder_bg.svg"
import FolderFg from "../../assets/folder_fg.svg"
import DocBg from "../../assets/doc_bg.svg"
import DocFg from "../../assets/doc_fg.svg"

import Games from "../../assets/games.svg"
import Code from "../../assets/code.svg"
import Profile from "../../assets/profile.svg"

import GamesBg from "../../assets/games_bg.svg"
import GamesMg from "../../assets/games_mg.svg"
import GamesFg from "../../assets/games_fg.svg"
import CodeBg from "../../assets/code_bg.svg"
import CodeFg from "../../assets/code_fg.svg"
import LightBg from "../../assets/light-bg.svg"
import LightOn from "../../assets/light-on.svg"
import LightOff from "../../assets/light-off.svg"
import Exit from "../../assets/exit.svg"

export default {
  name: 'app',
  data: function() {
	  return {
      maxObjectsOnPage: 1,
      darkMode: false,
		  showGames: false,
      showAssets: false,
      
	  }
  },
  components: {
    Icon,
    Page,

    FolderBg, FolderFg,
    DocBg, DocFg,

    Profile,
    Games,
    Code,

    GamesBg, GamesMg, GamesFg,
    CodeBg, CodeFg,
    LightBg, LightOn, LightOff,
    Exit
  },
  computed: {
    MaxObjectsOnPage: function () {
      return this.maxObjectsOnPage;
    },
    Items: function () {
      return [
        { comps:
            ['DocBg', 'DocFg', 'Profile'],
            function: () => { this.$emit('profile'); },
            type: "circle",
            scaleX: [0.99, 1.02, 1.01],
            scaleY: [0.99, 1.02, 1.01],
            rotateX: [0, 0, 0],
            rotateY: [0, 0, 0],
            translateX: [0, 0, 0],
            translateY: [0, 0, 0]
        },
        { comps:
            ['FolderBg', 'FolderFg', 'Games'],
            function: () => { this.$emit('openGames') },
            type: "circle",
            scaleX: [0.99, 1.02, 1.02],
            scaleY: [0.99, 1.02, 1.02],
            rotateX: [0, 0, 0],
            rotateY: [0, 0, 0],
            translateX: [0, 0, 0],
            translateY: [0, 0, 0]
        },
        { comps:
            ['FolderBg', 'FolderFg', 'Code'],
            function: () => { this.$emit('openCodes') },
            type: "circle",
            scaleX: [0.99, 1.02, 1.02],
            scaleY: [0.99, 1.02, 1.02],
            rotateX: [0, 0, 0],
            rotateY: [0, 0, 0],
            translateX: [0, 0, 0],
            translateY: [0, 0, 0]
        },
        { comps: ['LightBg', this.darkMode ? 'LightOff' : 'LightOn'],
                 function: () => { this.darkMode = !this.darkMode; this.$emit('mode'); },
                 type: "circle", scaleX: [0.9, 1], scaleY: [0.9, 1], rotateX: [0, 0], rotateY: [0, 0], translateX: [1, 0], translateY: [0, 0] },
        { comps: ['Exit'],
                  function: () => { this.$emit('exit'); },
                 type: "circle", scaleX: [0.97], scaleY: [0.97], rotateX: [0], rotateY: [0], translateX: [0], translateY: [0]
        }
        ]
    }
  },
  methods: {
    resize: function () {
      let columns = 0;
      let rows = 0;
      let w = window.innerWidth;
      let h = window.innerHeight;

      let paddingD = 30;
      let paddingLR = 40;
      let unitW = 120;
      let unitH = 120;

      columns = Math.floor((w - paddingLR * 2) / unitW);
      columns = columns < 1 ? 1 : columns > 3 ? 3 : columns; // Math.clamp(columns, 1, 3)

      rows = Math.floor((h - paddingD) / unitH);
      rows = rows < 1 ? 1 : rows;

      //console.log(rows + " " + columns + " " + rows * columns);

      this.maxObjectsOnPage = rows * columns;
    }
  },
  mounted () {
    var self = this;
    self.resize();

    window.onresize = function(e) {
      self.resize();
    }
  }
}
</script>

<style>

</style>
