<template>
    <div class="elemContainer elemDiv" ref="elemContainer">
      <div v-for="icon in icons" v-bind:key="icon.id" class="elem">
        <slot v-bind:icon="icon"></slot>
      </div>
    </div>
</template>

<script>

export default {
  name: 'Icon',
  props: {
    icons: Array,
    type: {
      type: String,
      default: "default"
    },
    scaleX: Array,
    scaleY: Array,
    rotateX: Array,
    rotateY: Array,
    translateX: Array,
    translateY: Array
  },
  components: {
    
  },
  mounted: function() {
    var elemCont = this.$refs.elemContainer;
    var elem = [...elemCont.children].map(e => e.children[0]);
    
    elemCont.onmousemove = (e) => {
      
      let x = e.pageX - elemCont.getBoundingClientRect().left - document.documentElement.scrollLeft;    // mouse x inside of element
      let y = e.pageY - elemCont.getBoundingClientRect().top - document.documentElement.scrollTop;      // mouse y inside of element

      let width = elem[0].clientWidth;                       // width of element
      let height = elem[0].clientHeight;                     // height of element
      
      let w = 1 / width * x;                // x between 0 and 1
      let h = 1 / height * y;               // y between 0 and 1

      let amountX = w - 0.5;                   // move to center
      let amountY = h - 0.5;                   // move to center
      
      if (this.type !== null && this.type === "circle") {
        let angleRad = Math.atan2(amountY, amountX);
        amountX = 1 * Math.cos(angleRad);
        amountY = 1 * Math.sin(angleRad);
      }
      /*
      // if (width, height) is always (200, 200) it would be:
      let amountX = 0.5 - 0.005 * (e.pageX - elemCont.getBoundingClientRect().left - document.documentElement.scrollLeft);
      let amountY = 0.5 - 0.005 * (e.pageY - elemCont.getBoundingClientRect().top - document.documentElement.scrollTop);
      */

      [...elem].map((s, i) => s.style.transform = "scale(" + this.scaleX[i] + ", " + this.scaleY[i] + ") "
                                               + "perspective(500px) "
                                               + "rotateY(" + this.rotateX[i] * amountX + "deg) "
                                               + "rotateX(" + this.rotateY[i] * amountY + "deg) "
                                               + "translateX(" + this.translateX[i] * amountX + "px) "
                                               + "translateY(" + this.translateY[i] * amountY + "px) ");
    }

    elemCont.onmouseleave = (e) => {
      [...elem].map(s => s.style.transform = "perspective(500px) rotateX(0deg) rotateY(0deg) translate(0px, 0px)");
    }
  }
}

</script>

<style scoped>

.elemContainer {
  overflow: auto;
  width: inherit;
  height: inherit;
}

.elem {
  display: flex;
  justify-content: center;
  position: absolute;
  width: inherit;
  height: inherit;
}

.elem > * {
  transition: transform .3s ease-out;
  transform: perspective(500px) translateZ(1px) rotateX(1deg);
}

</style>
