<template>
    <div>
        <b-navbar toggleable="md" type="dark" variant="info" fixed="top">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand href="#">nono1013</b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">

                <b-navbar-nav>
                    <b-nav-item @click="$emit('games')">{{$lang.main.games}}</b-nav-item>
                    <b-nav-item @click="$emit('assets')">{{$lang.main.assets}}</b-nav-item>
                </b-navbar-nav>
                
                <b-navbar-nav class="ml-auto">

                    <b-nav-item @click="$emit('archive')" right>{{$lang.main.archive}}</b-nav-item>

                    <b-nav-item-dropdown :text="language.name" right>
                        <div class="langChooser">
                            <b-dropdown-item :key="language.code" @click=";">
                                <span :is="language.flag" class="flag"></span>
                            </b-dropdown-item>
                            <b-dropdown-item
                                v-for="lang in languages.filter(l => l.code !== language.code)"
                                :key="lang.code"
                                @click="$emit('language', lang.code); language = lang"
                            >
                                <span :is="lang.flag" class="flag"></span>
                            </b-dropdown-item>
                        </div>
                    </b-nav-item-dropdown>
                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
<!--
        <b-jumbotron header="nono1013" lead="My games" >
            <p>List of my games</p>
        </b-jumbotron>-->
    </div>
</template>

<script>
import Vue from 'vue'

import Icon from './Icon.vue'
import Page from './Page.vue'

import ProfilePage from './pages/ProfilePage.vue'
import TestPage from './pages/TestPage.vue'

import velocity from 'velocity-animate'

import Exit from "../assets/exit.svg"

import FlagHu from "../assets/flags/hungary.svg"
import FlagUk from "../assets/flags/uk.svg"

import Lang from 'vuejs-localization';
Lang.requireAll(require.context('../lang', true, /\.js$/));
Vue.use(Lang);

export default {
  data: function() {
	  return {
        language: {
            code: "en",
            name: "En",
            flag: "FlagUk"
        },
        languages: [
            {
                code: "en",
                name: "En",
                flag: "FlagUk"
            },
            {
                code: "hu",
                name: "Hu",
                flag: "FlagHu"
            }
        ],
	  }
  },
  methods :{
      log: function(asd) {
          console.log(asd);
      }
  },
  components: {
    Icon,
    Page,

    ProfilePage,
    TestPage,

    Exit,

    FlagHu, FlagUk
  }
}
</script>

<style>

.bg-info {
    background-color: #272471 !important;
}

.dropdown-menu {
  min-width:0px;

  border: 0px;
  background-color: #00000000;
}

.flag:hover {
  pointer-events:none;
}

.dropdown-item:focus {
    background-color: rgb(125, 194, 250);
    outline: none !important;
    box-shadow: none;
}

@media (min-width: 768px) {
.langChooser {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.dropdown-item:focus {
    background-color: #90CAF955;
}
}

.langChooser {
    display: flex;
    flex-flow: row;
    align-items: center;
}

@media (min-width: 768px) {
    .langChooser {
        flex-flow: column;
    }
}

.langChooser .dropdown-item {
    max-width:100px;
}

.navbar-dark .navbar-toggler {
    border-color: #00000000;
}

</style>
