<template>
    <div class="page" ref="page">
        <slot></slot>
    </div>
</template>

<script>

export default {
  name: 'Page',
  components: {

  },
  data: function() {
    return {
      w: 0,
      h: 0
    }
  },
  created: function() {

    let w = Math.max(
      document.body.scrollWidth, document.documentElement.scrollWidth,
      document.body.offsetWidth, document.documentElement.offsetWidth,
      document.body.clientWidth, document.documentElement.clientWidth
    );
    let h = Math.max(
      document.body.scrollHeight, document.documentElement.scrollHeight,
      document.body.offsetHeight, document.documentElement.offsetHeight,
      document.body.clientHeight, document.documentElement.clientHeight
    );

    this.w = w;
    this.h = h;
  },
  mounted: function() {

  }
}

</script>

<style scoped>
.page {
  z-index: 15;

  overflow: auto;
  
  position: absolute;
/*
  width: 100%;
  height: 100%;
*/
  left: 0px;
  top: 0px;

  background-color: #263238;
  color: #90A4AE;
}
</style>
