<template>

  <v-app id="app">
    <div class="moving-bg" v-bind:style="{backgroundImage: 'url(' + bgImg + ')'}"></div>

    <v-btn
      fixed
      absolute
      dark
      fab
      right
      @click.stop="drawer = !drawer"
      style="margin-top:15px;"
      color="purple darken-2"
    >
      <v-icon>menu</v-icon>
    </v-btn>
    

    <!-- Drawer -->
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      temporary
      v-model="drawer"
      fixed
      app>
        

      <!-- Drawer Home -->
      <v-list dense class="pt-0">
        <v-list-tile @click=";">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title @click="drawer=false; $vuetify.goTo(0, {easing:'easeInCubic',duration:300,offset:0});">Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>


        <!-- Drawer Games -->
        <v-list-group
                prepend-icon="games"
                :value="drawerGames"
        >
          <v-list-tile slot="activator">
              <v-list-tile-title>Games</v-list-tile-title>
          </v-list-tile>
            
            <v-list-tile v-for="card in cards.filter(c => c.type=='Game')" :key="card.key" @click=";">
              <v-list-tile-action>
                <v-icon></v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title @click="drawer=false; $vuetify.goTo('#' + card.uuid, {easing:'easeInCubic',duration:300,offset:-100});">{{ card.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

        </v-list-group>


       
        <v-list-group
                prepend-icon="code"
                :value="drawerAssets"
        >
          <v-list-tile slot="activator">
              <v-list-tile-title>Assets</v-list-tile-title>
          </v-list-tile>
            
            <v-list-tile v-for="card in cards.filter(c => c.type=='Asset')" :key="card.key" @click=";">
              <v-list-tile-action>
                <v-icon></v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title @click="drawer=false; $vuetify.goTo('#' + card.uuid, {easing:'easeInCubic',duration:100,offset:-100});">{{ card.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

        </v-list-group>

        <!-- Drawer Archive -->
        <v-list-tile @click=";">
          <v-list-tile-action>
            <v-icon>archive</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title @click="gotoArchive">Archive</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

    </v-navigation-drawer>

    <!-- Content -->
    <v-content :clipped-left="$vuetify.breakpoint.lgAndUp">
      <v-container fluid>
        <v-container>
          <v-layout align-center style="background-color:transparent">
            <v-flex text-xs-center style="background-color:transparent">
              <h3 class="display-3 text-white" style="background-color:transparent">nono1013</h3>
            </v-flex>
          </v-layout>
        </v-container>

      <v-container fluid
          style="padding-top: 0px; padding-bottom: 0px;">

        <v-layout justify-center align-start row wrap>
          

          <transition
            v-on:before-enter="beforeEnter"
            v-on:enter="enter"
            v-on:leave="leave">

                <v-layout row wrap>
                  

                  <v-flex v-for="(card, index) in cards" :key="card.uuid"
                  xs12 class="page-card">
                  
                    <div>
                      <v-container pa-0 :id="card.uuid"
                        
                        :style="{
                          maxWidth : '600px',
                          background : ' url(' + bodyBgImg + ') repeat'
                          /*marginRight : '100px'*/
                        }"
                        color="lighten-1"
                        :class=" {'white--text' : true }">
                        
                        <v-container>
                          <v-layout column
                            style="transform: translateY(0px)">
                            
                            <v-layout py-0 my-0 align-center
                            >
                                <b-img
                                  v-if="card.src !== null"
                                  :src="card.src"
                                  width="150px"
                                  max-width="150px"
                                  max-height="150px"
                                  aspect-ratio="1"
                                  contain
                                  class="section-image"
                                  rounded="circle"
                                ></b-img>

                              <div fill-height>
                                <v-card-title primary-title>
                                <div>
                                    <div class="headline">{{ card.title }}</div>
                                    <v-divider></v-divider>
                                    <div :is="card.comp"></div>
                                </div>
                                </v-card-title>
                              </div>

                            </v-layout>

                          </v-layout>
                        </v-container>

                        <v-layout v-if="card.status === 'new'" ma-0 pa-0 align-end justify-end style="position:relative">
                          <svg ma-0 pa-0 viewBox="0 0 20 20" width="50px" height="50px" style="transform:translate(0px, 0px);position:absolute;">
                            <path d="M0,20 L10,20 L20,10 L20,0z" fill="#AC3939" />
                          </svg>
                          <div ma-0 pa-0 style="text-align:center;position:absolute;transform:translate(-6px, -8px) rotateZ(-45deg)">new</div>
                        </v-layout>
                        <v-layout v-else-if="card.status === 'soon'" ma-0 pa-0 align-end justify-end style="position:relative">
                          <svg ma-0 pa-0 viewBox="0 0 20 20" width="50px" height="50px" style="transform:translate(0px, 0px);position:absolute;">
                            <path d="M0,20 L10,20 L20,10 L20,0z" fill="#AC7C39" />
                          </svg>
                          <div ma-0 pa-0 style="text-align:center;position:absolute;transform:translate(-4px, -8px) rotateZ(-45deg)">soon</div>
                        </v-layout>

                      </v-container>
                    </div>

                    <div style="height:150px">
                    </div>

                  </v-flex>
                  
                </v-layout>

          </transition>

        </v-layout>
      </v-container>
      </v-container>
    </v-content>
    
  </v-app>
</template>

<script>
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import velocity from 'velocity-animate'

import TweenManagerImg from "./assets/images/tweenmanager-icon-small.png"
import PuzzleBaseImg from "./assets/images/puzzle-base-icon.png"
import UnderConstructionImg from "./assets/images/under-construction-icon.png"
import UnderConstruction3DImg from "./assets/images/under-construction-3d-icon.png"
import UI3DImg from "./assets/images/ui.png"
import LonelyKingImg from "./assets/images/flash_lonely_king.png"
import CssImg from "./assets/images/html5_ccs-small.png"
import ChooseALetterImg from "./assets/images/choose_a_letter_logo.png"
import LogicaImg from "./assets/images/logica.png"
import BgImg from "./assets/images/header-bg.png"
import BodyBgImg from "./assets/images/bg.png"
import BodyBg2Img from "./assets/images/bg2.png"
/*
import Lang from 'vuejs-localization';
Lang.requireAll(require.context('./lang', true, /\.js$/));
Vue.use(Lang);
*/

import Vuetify from 'vuetify/es5/components/Vuetify';
import VApp from 'vuetify/es5/components/VApp';
import VBtn from 'vuetify/es5/components/VBtn';
import VCard from 'vuetify/es5/components/VCard';
import VFooter from 'vuetify/es5/components/VFooter';
import VGrid from 'vuetify/es5/components/VGrid';
import VIcon from 'vuetify/es5/components/VIcon';
import VJumbotron from 'vuetify/es5/components/VJumbotron';
import VList from 'vuetify/es5/components/VList';
import VImg from 'vuetify/es5/components/VImg';
import VNavigationDrawer from 'vuetify/es5/components/VNavigationDrawer';
import VParallax from 'vuetify/es5/components/VParallax';
import VDivider from 'vuetify/es5/components/VDivider';

Vue.use(Vuetify, {
  components: {
    VApp,
    VBtn,
    VCard,
    VFooter,
    VGrid,
    VIcon,
    VJumbotron,
    VList,
    VImg,
    VNavigationDrawer,
    VParallax,
    VDivider
  }
});

import 'vuetify/dist/vuetify.min.css'
import OPAboutMe from './components/one-page-comps/OPAboutMe.vue';
import OP2DPuzzle from './components/one-page-comps/OP2DPuzzle.vue';
import OP3DPuzzle from './components/one-page-comps/OP3DPuzzle.vue';
import OPPuzzleBase from './components/one-page-comps/OPPuzzleBase.vue';
import OPTweenManager from './components/one-page-comps/OPTweenManager.vue';
import OPCCS from './components/one-page-comps/OPCCS.vue';
import OPChooseALetter from './components/one-page-comps/OPChooseALetter.vue';
import OPLonelyKing from './components/one-page-comps/OPLonelyKing.vue';
import OPOtherGames from './components/one-page-comps/OPOtherGames.vue';

export default {
  name: 'app',
  data: function() {
	  return {
      bodyBgImg: BodyBgImg,
      bodyBg2Img: BodyBg2Img,
      bgImg: BgImg,
      right: null,
      drawer: null,
      drawerAssets: false,
      drawerGames: false,
      cards: [
        {
          uuid: 'about-me',
          comp: OPAboutMe,
          type: 'Other',
          title: 'About me',
          src: null,
          status: ''
        },
        {
          uuid: 'puzzle-game-2d',
          comp: OP2DPuzzle,
          type: 'Game',
          title: '2D Puzzle Game',
          src: UnderConstructionImg,
          status: 'soon'
        },
        {
          uuid: 'game-ui',
          comp: OP3DPuzzle,
          type: 'Asset',
          title: 'Puzzle Game UI',
          src: UI3DImg,
          status: 'soon'
        },
        {
          uuid: 'tween-manager',
          comp: OPTweenManager,
          type: 'Asset',
          title: 'Tween Manager',
          src: TweenManagerImg,
          status: 'new'
        },
        {
          uuid: 'lonely-king',
          comp: OPLonelyKing,
          type: 'Game',
          title: 'Lonely King',
          src: LonelyKingImg,
          status: ''
        },
        {
          uuid: 'chess-collects-stars',
          comp: OPCCS,
          type: 'Game',
          title: 'Chess Collects Stars',
          src: CssImg,
          status: ''
        },
        {
          uuid: 'choose-a-letter',
          comp: OPChooseALetter,
          type: 'Game',
          title: 'Choose A Letter',
          src: ChooseALetterImg,
          status: ''
        },
        {
          uuid: 'other-games',
          comp: OPOtherGames,
          type: 'Game',
          title: 'Other Games',
          src: LogicaImg,
          status: ''
        },
      ]
	  }
  },
  components: {

  },
  methods: {
    /*changeLanguage: function(language) {
      this.$lang.setLang(language);
    },*/
    gotoArchive: function() {
      window.location.href = '/archive';
    },
    gotoSite: function(site) {
      window.open(site, '_blank');
    },
    scrollTo: function(ref) {
      Velocity(document.body, "scroll", {offset: ref.offsetTop, mobileHA: false});
    },
    beforeEnter: function (el, done) {
      Velocity(el, "slideUp", {
        duration: 1,
        easing: "easeInQuad"
      }, {
        complete: done
      })
    },
    enter: function (el, done) {
      Velocity(el, "slideDown", {
        duration: 500,
        delay: 500,
        easing: "easeInQuad"
      }, {
        complete: done
      });
    },
    leave: function (el, done) {
      Velocity(el, "fadeOut", {
        duration: 500,
        easing: "easeOutQuad"
      }, {
        complete: done
      })
    }
  }
}
</script>

<style>

.status-bg {

}

#app {
  word-wrap: break-word;
}

.page-card:nth-child(even) a {
    color: rgb(255, 185, 88) !important;
}

.page-card:nth-child(odd) a {
    color: rgb(255, 198, 118) !important;
}

.btn:focus, .btn:active, .carousel-caption, .carousel-inner, .carousel-item, li {
   outline: none !important;
   box-shadow: none;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}



@keyframes example {
    /*0% { background-position-x:0px; }
    100% { background-position-x:1600px; }*/
}

.moving-bg {


  width: 100%;
  height: 100%;
  position: fixed;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: cover;

  animation-timing-function: linear;
  background-repeat: repeat;
  animation-name: example;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

</style>
