<template>
  <div id="app" :class="{ darkMode: darkMode, lightMode: !darkMode }">
    
    <transition
    v-on:before-enter="beforeEnterSection"
    v-on:enter="enterSection"
    v-on:leave="leaveSection">
        <GamesSection v-if="showGames"
        v-on:exit="showGames = false"
        v-on:test="test = true;"
        key="games-section">
        </GamesSection>
        <CodesSection v-else-if="showCodes"
        :darkMode="darkMode"
        v-on:exit="showCodes = false"
        v-on:test="test = true;"
        key="codes-section">
        </CodesSection>
        <MainSection v-else
        v-on:exit="exitFromArchive"
        v-on:openGames="showGames = true"
        v-on:openCodes="showCodes = true"
        v-on:mode="darkMode = !darkMode"
        v-on:profile="profile = true;"
        v-on:test="test = true;"
        key="main-section">
        </MainSection>
    </transition>

    <transition
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false">
        <ProfilePage v-if="profile" v-on:exit="profile=false"></ProfilePage>
        <TestPage v-if="test" v-on:exit="test=false"></TestPage>
    </transition>

  </div>
</template>

<script>
import Vue from 'vue'

import Icon from './components/Icon.vue'
import Page from './components/Page.vue'

import Main from './components/Main.vue'

import ProfilePage from './components/pages/ProfilePage.vue'
import TestPage from './components/pages/TestPage.vue'

import GamesSection from './components/sections/GamesSection.vue'
import MainSection from './components/sections/MainSection.vue'
import CodesSection from './components/sections/CodesSection.vue'

import velocity from 'velocity-animate'

import Exit from "./assets/exit.svg"

export default {
  name: 'app',
  data: function() {
	  return {
      archive: false,
      darkMode: false,
      showGames: false,
      showCodes: false,
      showAssets: false,
      profile: false,
      test: false
	  }
  },
  components: {
    Main,

    Icon,
    Page,

    GamesSection,
    CodesSection,
    MainSection,

    ProfilePage,
    TestPage,

    Exit
  },
  methods: {
    changeLanguage: function(language) {
      this.$lang.setLang(language);
    },
    exitFromArchive: function() {
      window.location.href = '/';
    },
    beforeEnterSection: function (el, done) {
      Velocity(el, "fadeOut", {
        duration: 1
      }, {
        complete: done
      })
    },
    enterSection: function (el, done) {
      Velocity(el, "fadeIn", {
        duration: 500,
        delay: 500,
        easing: "easeInQuad"
      }, {
        complete: done
      })
    },
    leaveSection: function (el, done) {
      Velocity(el, "fadeOut", {
        duration: 500,
        easing: "easeOutQuad"
      }, {
        complete: done
      })
    },
    enter: function (el, done) {
      Velocity(el, "slideDown", {
        duration: 500,
        easing: "easeInQuad"
      }, {
        complete: done
      })
    },
    leave: function (el, done) {
      Velocity(el, "fadeOut", {
        duration: 500, 
        easing: "easeOutQuad"
      }, {
        complete: done
      })
    }
  }
}
</script>

<style>

::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.lightMode {
  background-color: #CFD8DC;
}

.darkMode {
  background-color: #101010;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  width: 100%;
  height: 100%;
  margin: auto;
}

.main {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
}

#car {
  text-shadow: 1px 1px 2px #333;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.carousel-caption, .carousel-item, .carousel-inner, #carPlaceholder {
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  margin: auto;
}

.iconsParent {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  max-width: 500px;

  margin: auto;
}

.icons {
  display: flex;

  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: wrap; /* Safari 6.1+ */
  flex-flow: row wrap;
  
  align-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;

  justify-content: center;

}

/**
*** Needed for last line of icon flexbox.
**/
.iconPlaceholder {
  content: "";
  width: 100px;
  height: 100px;
  margin: 10px;
}

.my-col {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.icon {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  height: inherit;
}

svg {
  min-width: 50px;
  min-height: 50px;
  width: 100%;
  height:100%;
}

.btn:focus, .btn:active, .carousel-caption, .carousel-inner, .carousel-item, li {
   outline: none !important;
   box-shadow: none;
}

.pointer {
  cursor: pointer;
}

.page {
  display: flex;
  flex-flow: column;
  
  width: 100%;
  height: 100%;
}

.pageContent {
  width: 100%;
  height: 100%;

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-flow: column;
  
  align-content: center;
  align-items: center;

  justify-content: flex-start;
}

.pageContent > h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pageExit {
  padding: 10px;
  display: flex;

  align-content: flex-end;
  justify-content: flex-end;
}
</style>
